<!DOCTYPE html>
<html>
<head>
	<title>Welcome ALL</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
  	<meta http-equiv="x-ua-compatible" content="ie=edge">
  	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="css/login.css">

</head>
<body>
	{{{body}}}
</body>

<script type="text/javascript" src="css/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>

</html>