<!DOCTYPE html>
<html>
<head>
	<title>edd</title>
	<link rel="stylesheet" type="text/css" href="./public/css/bootstrap/css/bootstrap.css">
</head>
<body class="container">

	<div class="form-group-inline">
		<form class="form-group">
			<input type="text" name="message" id="message" class="form-control" />
			<button class="btn btn-primary block">Send</button>
			
		</form>
	</div>

</body>

<script type="text/javascript" src="./public/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="./public/css/bootstrap/js/bootstrap.min.js"></script>


</html>