<!DOCTYPE html>
<html>
<head>
	<title>edd</title>
	<link rel="stylesheet" type="text/css" href="/home/skoki/Desktop/javascript/nodejs/public/css/bootstrap/css/bootstrap.css">
</head>
<body class="container">

	<div class="navbar nav nav-dark fixed"></div>
<!-- 
	<div class="row">
		<h1 class="col-6">Welcome to Root page</h1>
		
		<button class="btn btn-transparent col-2">
			<a href="./login" class="loginFont">Login</a>
		</button>
	</div> -->
</body>

<script type="text/javascript" src="./public/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./public/js/jquery-3.3.1.min.js"></script>

</html>