<div class="container">
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
     <div class="font-italic card-header">EddsApp</div>
        <div class="card-body">
           <h4 class="card-title">Register an account</h4>
	      <form class="form-group card-text" method="POST" action="createAccount?form=register">
                <div class="form-group">                                
                    <label for="fieldFirstName">First Name</label>                                                      
                      <input type="text" class="form-control" name="fname" aria-describedby="fieldFirstName" placeholder="Enter first name">
                </div>
                <div class="form-group">                                
                    <label for="fieldLastName">Last Name</label>                                                      
                      <input type="text" class="form-control" name="lname" aria-describedby="fieldLastName" placeholder="Enter last name">
                </div>
                <div class="form-group">                                
                    <label for="fieldEmail">Email Address</label>                                                      
                      <input type="email" class="form-control" name="email" aria-describedby="fieldEmail" placeholder="Enter email Address">                                          
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">                                
                    <label for="fieldUserName">Username</label>                                                      
                      <input type="text" class="form-control" name="username" aria-describedby="fieldUserName" placeholder="Enter username">
                </div>
                
                <div class="form-group">
                   <label for="fieldPassword">Password</label>                                                         
                      <input type="password" class="form-control" name="password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

             </form>
     </div>
</div>
